.mainGrid {
  height: 100%;
  width: 100%;
  width: 100%;
  padding: 11px;
  margin: 24px 0 0 0;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  border:none;
  outline:none;
  background-color: #13aa52;
}